/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.pestanas
{
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 2px;
}

.pestanas input[type="radio"]
{
	display:none;
}

.pestanas label
{
    background-color: #d0d0d0;
    color: black;
    margin-right: 4px;
    border-radius: 0px 15px 0px 0px;
}

.pestanas #rdbGeneral:checked + .General
{
	background-color: #218838;
	color: white;
	border-radius: 0px 10px 0px 0px;
	box-shadow: 2px 3px #d0d0d0;
}

.pestanas #rdbProducto:checked + .Productos
{
	background-color: #218838;
	color: white;
	border-radius: 0px 10px 0px 0px;
	box-shadow: 2px 3px #d0d0d0;
}


.rdbForm
{
	display:none !important;
}

.FormPestana
{
	display:none;
}

.rdbForm:checked + .FormPestana
{
	display:flex;
}